/* -------------------------BLOG */
.blog .img-responsive{float: right; ;}
.blog h4{color: #708698; font-family: 'Oswald', sans-serif;margin: 30px 0 10px;}
.blog h3{ font-size: 18px;}
.blog .separacion{ margin-bottom: 30px;}
.cuadro-blanco{border: solid 2px #e3e3e3;padding: 20px 10px;}
.cuadro-gris{background-color:#e1e7ea; padding: 8px;}
.cuadro-gris img{border: solid 2px white; }
.cuadro-gris a{color: #9a9393}
.texto1{float: right;margin-right: 60px;}

