.columnistas .img-responsive
{
	float: right;
}
.columnistas h4
{
	color: #708698;
	 font-family: 'Oswald', sans-serif;
	margin: 30px 0 10px;
}
.columnistas h3
{
	font-size: 18px;
}
.columnistas .separacion
{
 margin-bottom: 30px;
}
.cuadro-general
{
	border: solid 2px #e3e3e3;
	padding: 20px 10px;
}
.cuadro2
{
	background-color:#e1e7ea;
	 padding: 8px;
}
.cuadro2 img
{
	border: solid 2px white;
}
.cuadro2 a
{
	color: #9a9393
}
.texto
{
	float: right;
	margin-right: 60px;
}
button
{
	text-align: center;
    color: white;
    padding: 0 50px;
   font-weight: bold;
   background: #d90c0c
}
/* lo ultimo de columnistas-menu*/
.menu
{
	margin-top: 20px;
}
.abc
{
	text-align: center;
}
.encabezado ul li
{
	padding: 2px;
}

.menu .list-inline li a
{
 text-decoration: none;
 color: white;
  padding: 20 0px;
   font-weight: bold;
   background: #d90c0c;
   font-size: 15px;
}
.menu .list-inline
{
	text-decoration: none;
 color: white;
  padding:  110 10px;
  margin: 20px;

   font-weight: bold;
   background: #d90c0c;
}
 .menu .todos
{
	padding: 20px;
	border-radius: 20px;
	background: #922B21;
}
.encabezado{margin-top: 20px;}
.temas{text-align: center;}
.encabezado ul li{padding: 2px;}
.list-inline{background: #d90c0c;border-radius: 5px;}
.list-inline li a{ text-decoration: none;color: white; padding: 3px; font-weight: bold;}
.list-inline  li:hover{background: #003376;}
.principal-news {
	margin-bottom: 5%;
	font-family: 'Helvetica' }

.principal-news h1 {
	font-weight: bold;
	font-size:300%;  }

.principal-news .text {
	font-size: 120%; }

.titulares {
	padding-bottom: none;
	margin-bottom: none;
}

.principal-news .icon-facebook-square {
	font-size: 120%;
	color: #0B0B61;
	background: #E6E6E6; }

.principal-news .icon-twitter-square {
	font-size: 120%;
	margin-right: 2%;
	color: #00BFFF;
	background: #E6E6E6; }

.shadow {
	 background: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0.2)) }

.principal-news .margin1 {
	margin-right: 2%;
	padding-left: 1%;
	color: #0431B4;
	text-decoration: none;
	font-family: 'Helvetica'; }

.principal-news .tweet {
	color: #00BFFF;
	font-family: 'Helvetica'; }

.tweet:hover {
	text-decoration: none;
	color: #fff;
	background: #00BFFF; }

.margin1:hover {
	text-decoration: none;
	color: #fff;
	background: #0B0B61; }


media screen and (max-width: 900px) {

    .nav-secundaria .link a {

        margin: 1px;
        padding: 0px;
        font-size: 10px;
    }

    .nav-secundaria .nav-right {
        font-size: 10px;
    }
    .nav-secundaria .inp {
        font-size: 10px;
    }

    .searche-box .icon-search {
    margin-left: -25px;
        margin-top: -30px;
    }
    .encabezado1 .republica {
       text-align: center;

    }

    .encabezado1 .republica img{
        padding-bottom: 15px;

    }
    .encabezado1  .hoy{
        padding-bottom: 13px;
        text-align: center;
    }
    .encabezado1 .hoy p{
        margin-left: 35%;
    }

    .encabezado1 .text-center img{ float: right;top:-68px;left: 0px;position: relative;}

    .encabezado {
        display: none;

    }
    .lo{
        margin-top: 20px;
    }

    .lo .lista .u {
        display: none;
    }
    .lo .in{
        display: none;
    }
    .principal .pri{
        margin-bottom: 40px;
    }
    .principal h2{
        font-size: 25px;
        width: 120%;
    }



}

/*-------------------------------------------*/
*{
	box-sizing: border-box;
}
.sep-pegado{
	margin-bottom: -56px;
}
.columnistas-home{

	padding-top: 50px;
	margin-bottom: 10px;
}
.columnistas-home ul{
	background-color: #f2f2f2;
	list-style: none;
	margin: 0px;
	padding: 0px;
	text-align:center;
	padding-top: 40px;
	padding-bottom: 40px;
}
.columnistas-home ul li{
	display: inline-block;
	margin: 0px;
	padding: 0px;
}
.columnistas-home ul li img{
	border: 3px solid white;
}
.column-info
{
	width: 150px;
}
.column-info h5{
	font-weight: bold;
}


/
