.uno{}
.contactos p {
  font-size: 15.3px;
  padding: 1%;
    width: 1000px;
}
.contactos{
    margin-left: 60px;
}

.informacion {
    margin-left: 200px;
}
.destinatario {
    margin-left: 200px;
}
.informacion .input-group-sm {
  margin: 1% 15%;
  margin-right: 5%;
    margin-top: 20px;
}
  .informacion .input-group-sm .buscador {
      height: 40px;
    margin-right: 540px;
      border-radius: 5px;
    background-color: #F4F5F7;
  
     }


.destinatario {
  padding: 17px; }
  .destinatario h4 strong {
    font-size: 17px; }
  .destinatario .selector-punto .ej-1 {
    display: inline-block;
    max-width: 50%;
    font-size: 17px; }
    .destinatario .selector-punto .ej-1 .btn-circle {
      width: 20px;
      height: 20px;
      text-align: center;
      padding: 2px 0;
      font-size: 12px;
      line-height: 1.42;
      border-radius: 15px; }
  .destinatario .selector-punto .ej {
    float: right;
    max-width: 50%;
    font-size: 12px; }
  .destinatario .mensaje {
    margin: 1% 10%;
    margin-right: 5%;
    margin: 5%; }
    .destinatario .mensaje .input-group .form-control {
         border-radius: 5px;
      margin-right: 540px;
      background-color: #F4F5F7;
      padding: 10px 80px 150px 10px; 
;}

  .destinatario .boton-centrado button {
    background-color: black;
    padding: 1% 15%;
    color: white;
    margin-left: 30%; }

/*@media */
@media (min-width: 320px) and (max-width: 658px) {
  .informacion .input-group-sm {
    margin: 1% 10%;
    margin-right: 5%; }
    .informacion .input-group-sm .buscador {
      width: 330px; }
      .informacion .input-group-sm .buscador p {
        font-size: 12px; }

  .destinatario {
    padding: 17px; }
    .destinatario h4 strong {
      font-size: 17px; }
    .destinatario .selector-punto .ej-1 {
      display: inline-block;
      max-width: 50%;
      font-size: 12px; }
      .destinatario .selector-punto .ej-1 .btn-circle {
        width: 20px;
        height: 20px;
        text-align: center;
        padding: 2px 0;
        font-size: 12px;
        line-height: 1.42;
        border-radius: 15px; }
    .destinatario .selector-punto .ej {
      float: right;
      max-width: 50%;
      font-size: 9px; }
    .destinatario .mensaje {
      margin: 1% 10%;
      margin-right: 5%;
      margin: 5%; }
      .destinatario .mensaje .input-group .form-control {
        width: 330px;
        padding: 10px 80px 150px 10px; }
    .destinatario .boton-centrado button {
      background-color: black;
      padding: 1% 15%;
      color: white;
      margin-left: 1%; } }
