
/**{outline: solid red 1px;}*/
/*--------------------------------------------------HEADER-BANNER*/
header {
	background: #f1f1f1;
	border-bottom: 1px solid #ccc; }

header img {
	width: 100%;
	margin-top: 1%; }

header .nav-secundaria {
	padding-top: 1%;
	padding-bottom: 2px; }

.nav-secundaria a {
	font-size: 80%;
	color: #6e6e6e;
	font-weight: bold; }

.nav-secundaria .margin-left {
	margin-left: 2%; }

.nav-secundaria button {
	border: none;
	border-radius: 8px;
	color: #fff;
	background: #ff6500;
	font-weight: bold;
	font-size: 85%;
	padding: 0 1%; }

.nav-secundaria i {
	font-size: 120%; }

.icon-twitter, .icon-google, .icon-mail, .icon-rss, .icon-search {
	margin-left: 2%; }

.nav-secundaria .icon-social-facebook { color: #0B0B61; margin-left: 3%; }

.nav-secundaria .icon-twitter { color: #2ECCFA;  }

.nav-secundaria .icon-google { color: #DF0101; }

.nav-secundaria .icon-mail { color: #FFBF00; }

.nav-secundaria .icon-rss { color: #FF8000; margin-right: 2%;}

.nav-secundaria input {
	border: 1px solid #ccc;
	border-top: none; border-bottom: none;
	width: 17%; }


/*-------------------------------------------------------------------------FOOTER--*/
footer{
    background-color: #f2f2f2;}
footer .imagen{
    margin-top: 60px;}
footer .contorno{
    padding: 30px 60px 30px;}
footer .col-md-4{
    
}
footer .brecha{
    padding-left: 0px;
    margin-left: 0px;
    border-left: 2px solid #e5e2e2;
}
footer ul li a{color: #505558; font-size: 12px;}
footer ul li a:hover{text-decoration: none;}
footer ul li:hover{background-color: rgba(0, 0, 0, 0.1);}
footer hr{
    margin: 0 auto 15px; border-bottom: 1px solid #f0f0f0;
}
footer .col-md-2{
    margin-left: 10px;
    padding-left: 10px;
}
footer .pie ul li a{
    color: #6d6d6d;
}
footer .movil{
    background-color: black;
    color: white;
}
footer .movil p{
    color: #e6e6e6;
    font-size: 15px;
}
