*
{
    
}
.row
{
	padding: 15px;
}
.titulo

{
    text-align: center;
    color: red;
}

.texto
{
    position:absolute;
    top: 70%;
    color: white;
   
}
.video
{
    position: relative;
    text-align: center;
    background: rgb(0,0,0,1.3);
}

/* Inserta tu código de la página home/index acá */